*{
    box-sizing: border-box;

}

body{
    margin: 0;
    text-align: center;
    background-color: #555;
}


img{
    vertical-align: middle;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: solid 2px #555;
    width: 500px;
    margin: 0 auto;
    border-radius: 5%;

}

.list{
    list-style: none;
}

.item{
    color: #333;
    margin: 5px 0;
}

